#card {
    margin: auto;
    height: 88%;
    width: 15%;
    border: 5px solid gold;
    display: none;
    background-color: grey;

}

#pokemon-img {
    text-align: center;
    border: 3px solid gold;
    margin: 0 10% 0 10%;
}

#pokemon-name {
    text-align: center;
}

img {
    margin-left: 15px;
    margin: auto;
}

body{
    background: url(pokeball.png) repeat fixed;
}

#pokemon-abilities {
    padding-left: 10%;
}